$xxs-screen: 495px;
$xs-screen: 615px;
$s-screen: 800px;
$m-screen: 960px;
$l-screen: 1200px;




@mixin xxs-size {
    @media (min-width:$xxs-screen) {
        @content;
    }
}

@mixin xs-size {
    @media (min-width:$xs-screen) {
        @content;
    }
}
@mixin s-size {
    @media (min-width:$s-screen) {
        @content;
    }
}
@mixin m-size {
    @media (min-width:$m-screen) {
        @content;
    }
}
@mixin l-size {
    @media (min-width:$l-screen) {
        @content;
    }
}


