$xxs-screen: 495px;
$xs-screen: 615px;
$s-screen: 800px;
$m-screen: 960px;
$l-screen: 1200px;




@mixin xxs-size {
    @media (min-width:495px) {
        @content;
    }
}

@mixin xs-size {
    @media (min-width:615px) {
        @content;
    }
}
@mixin s-size {
    @media (min-width:800px) {
        @content;
    }
}
@mixin m-size {
    @media (min-width:960px) {
        @content;
    }
}
@mixin l-size {
    @media (min-width:1200px) {
        @content;
    }
}


