$dark_1:black;
$dark_2:rgba(85, 85, 85, 1);
$dark_3:rgba(119, 119, 119, 1);
$dark_4:rgba(153, 153, 153, 1);

$light_1:rgba(255, 255, 255, 1);
$light_2:rgba(238, 238, 238, 1);
$light_3:rgba(204, 204, 204, 1);

$color-orange:rgba(255, 129, 57, 1);
$color-pink:rgba(255, 57, 152, 1);
$color-green:rgba(57, 255, 160, 1);
$color-red:rgba(255, 57, 57, 1);

$light-color-orange:rgba(255, 240, 232, 1);
$light-color-green:rgba(237, 255, 246, 1);

$padding-bottom-s:padding-bottom 10px;
$padding-bottom-m:padding-bottom 20px;
$padding-bottom-l:padding-bottom 30px;