
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

/* colors */

.dark1 {
    color:black;
}

.dark2 {
    color:rgba(85, 85, 85, 1);
}

.dark3 {
    color:rgba(119, 119, 119, 1);
}

.dark4 {
    color:rgba(153, 153, 153, 1);
}

.light1 {
    color:rgba(255, 255, 255, 1);
}

.light2 {
    color:rgba(238, 238, 238, 1);
}

.light3 {
    color:rgba(204, 204, 204, 1);
}

.orange {
    color:rgba(255, 129, 57, 1);
}


.pink {
    color:rgba(255, 57, 152, 1);
}

.green {
    color:rgba(57, 255, 160, 1);
}

.red {
    color:rgba(255, 57, 57, 1);
}


.light-orange {
    color:rgba(255, 240, 232, 1);
}

.light-green {
    color:rgba(237, 255, 246, 1);
}


/* resets */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}


.product-card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: overlay;
}

/* mobile styles */


/* wrappers */



.background-image-1 {
    position:relative;
}






.container {
    padding: 36px 0px 36px 36px;
}

.navigation-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 36px;
}

.navigation-list {
    display: none;
}

.launch-date.pink {
    padding-bottom: 24px;
}

.page-title.dark1 {
    padding-bottom: 24px;
}

.page-text.dark2 {
    padding-bottom: 24px;
}

span.launch-date-style {
    font-size: 16px;
    font-weight: bold;
}

h1.page-title-style-h1 {
    font-size: 48px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

p.page-text-style {
    font-size: 20px;
}

a.main-button-style {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.main-button {
    border: 3px solid ;
    border-radius: 40px;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

span.section-title-style {
    font-size: 40px;
    font-weight: 500;
}

p.section-text-style {
    font-size: 20px;
}

.section-title.dark1 {
    padding-bottom: 16px;
}


.call-to-action-page .background-color-fill {
    background: linear-gradient(77deg, rgb(255, 57, 152) 0%, rgb(255, 57, 57) 31%, rgb(255, 129, 57) 79%, rgb(117 189 155) 100%);
    padding-top: 110px;
}


.partner-list-wrapper ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}



span.partner-name-big {
    font-size: 36px;
}

span.partner-name-small {
    font-size:30px;
}

.partner-name {
    margin:auto;
}


li.partner {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.partner.hide-mobile-part {
    display: none;
}

span.hide-mobile-part {
    display: none;
}

span.via-link {
    text-decoration: underline;
}

.CTA-wrapper.background-color-fill {
    display: flex;
    padding-top: 75px;
    flex-direction: column;
}

.partner-list-page .container {
    padding-top: 72px;
    padding-right: 30px;
}

.hero-page .container {
    padding-bottom:72px;
}

.product-card-list {
    display: flex;
    justify-content: space-between;
}

.product-card {
    padding-top: 36px;
    padding-right: 30px;
}

.product-card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.product-card {
    padding-top: 36px;
    padding-right: 30px;
}

.product-description-wrap {
    background-color:rgba(238, 238, 238, 1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


img {
    display: block;
}

.product-series-padding {
    padding:5px 0px;
}

.product-description-name {
    padding: 10px 0px;
}

.product-description-cost {
    padding: 10px 0px;
}

span.product-series-style {font-size: 12px;}

.product-name.dark1.product-series-padding {
    font-size: 20px;
}

span.prduct-bid-style {
    font-size: 12px;
}

span.product-cost-style {
    font-size: 20px;
}

span.product-timer-style {
    font-size: 18px;
}


.hero-page-wrapper {
    display: flex;
}

.hero-content {
    width: 70%;
}

.hero-image {
    left: -65px;
    position: relative;
    width: 30%;
    top: -45px;
}

.hero-image-content {
    position: absolute;
    height:100%;
    object-fit: contain;
}


.hero-page-wrapper .main-button {
    width: 100%;
}

.left-side {
    width:60%;
}

.right-side {
    display: flex;
    width: 40%;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
}
.right-side img {
    height: 90%;
    position:absolute;
}

.footer-title .navigation-logo {
    padding-bottom: 30px;
}

.hero-page {
    padding-top: 50px;
}

.monster-top .monster-img {
    height: 100%;
    bottom: 40px;
    left: -40px;
}


/* footer */



li.social-icon {
    padding-right: 15px;
}


.footer-description.dark2 {
    padding-bottom: 30px;
}

.footer-social-media.dark4 {
    padding-bottom: 30px;
}

.footer-description.dark2 span {
    font-size: 20px;
}

.footer-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.footer-list-wrap {
    display: flex;
    flex-direction: column;
}

.footer-list-items {
    display: flex;
    flex-direction: column;
}

.footer-list-items ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}


span.footer-list-title-style {
    font-size: 16px;
    font-weight: bold;
    padding-bottom:10px;
}

li.footer-list-item {
    font-size: 20px;
    padding-bottom: 10px;
}

.footer-list-title.dark2 {
    padding-bottom: 20px;
}


.footer-copyright.dark4.hide-mobile-part {
    display: none;
}

.footer-copyright-style {
    font-size:20px;
}

.footer-main .container {
        display: flex;
        flex-direction: column;
    
}

.footer-title {
    padding-bottom: 20px;
}

/* small tablet styles */
@media screen and (min-width:620px) {

}



/* large tables & laptop styles */
@media screen and (min-width:960px) {

}



/* desktop styles */
@media screen and (min-width:1200px) {

}


